<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mormon Mapper</title>
  <link rel="icon" type="image/png"
   href="/favicon.png" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sorts Mill Goudy">
<!--   // <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  // <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
  <script src="/lightbox/js/jquery-1.11.0.min.js"></script>
  <script src='/lightbox/js/lightbox.js'></script>
  <script src='/js/moment.min.js'></script>
  <script src='/js/plugins.js'></script>
  <script src='/js/search.js'></script>
  <script src='/js/flickr.js.erb'></script>


  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

  <link rel="stylesheet" href="/lightbox/css/lightbox.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
</head>
<body>

  <%= yield %>

  <script src="/js/formatJSON.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
