<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mormon Mapper</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Sorts Mill Goudy">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='/js/plugins.js'></script>

  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
</head>
<body>

  <%= yield %>

  <script src="/js/formatJSON.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
